<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAymTjcj5KNnrlqYHYLUmrF3bwxGSkax3k</string>
	<key>GCM_SENDER_ID</key>
	<string>416660829596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thefreelancers.applewallet</string>
	<key>PROJECT_ID</key>
	<string>applewallet-80a9a</string>
	<key>STORAGE_BUCKET</key>
	<string>applewallet-80a9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416660829596:ios:dd262239e9512b8f884459</string>
</dict>
</plist>