<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAw1Q5kAPgziIv56sNmiRaeNgraaq7OyIo</string>
	<key>GCM_SENDER_ID</key>
	<string>836038151161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.walletapp</string>
	<key>PROJECT_ID</key>
	<string>walletiosipa</string>
	<key>STORAGE_BUCKET</key>
	<string>walletiosipa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836038151161:ios:797bb958c057f4bf1f4b28</string>
</dict>
</plist>